/* FONTS */
.raleway, * {
    font-family: 'Raleway', sans-serif;
}

/* BACKGROUNDS */
.light-grey-bg {
    background-color: #EFEFEE;
}

.light-blue-bg {
    background-color: #B2D5FE;
}

.sky-blue-bg {
    background-color: #3C82CE;
}

.white-bg {
    background-color: white;
}

.my-gradient {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #37749C, #3C89BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #37749C, #3C89BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* UTILITY ELEMENTS */
.centered-section {
    max-width: 800px;
    margin: auto;
}

/* HOVER STYlES */
.eliz-hoverable {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}
.eliz-hoverable:hover {
    color: rgba(0, 0, 0, 0.6);
}
.eliz-hoverable:active {
    color: rgba(0, 0, 0, 0.8);
}

.active-class {
    color: rgba(0, 0, 1, 0.6);
}

/* HEADER */
.header {
    width: 100%;
    position: absolute;
    top: calc(100% - 100px);
    background: rgba(255, 255, 255, 0);
}

.header-inner {
    display: flex;
    padding: 1rem 1.5rem;
}

.header .title {
    display: none;
    flex-shrink: 0;
    color: black;
    cursor: pointer;
}

.header.stuck-to-top .title {
    flex-grow: 1;
}

.header.stuck-to-top .title {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.eliz-page-link {
    margin: 0 1em;
    overflow: hidden;
    font-weight: 400;
    color: white;
}

.stuck-to-top .eliz-page-link {
    margin: 0;
    margin-left: 1em;
    color: black;
}

.header.stuck-to-top {
    top: 0;
    background: white;
    position: fixed;
    justify-content: flex-end;
    z-index: 1;
    box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.3);
}

.header .icon {
    display: none;
}

.header a {
    height: 0;
    margin: 0;
}

.header ul {
    list-style-type: none;
    flex-grow: 1;
    margin: 0;
}

.header li {
    float: left;
    padding: 1rem 1rem;
}

.header.stuck-to-top li {
    float: left;
    padding: 0rem 1.5rem;
}

.header.stuck-to-top ul {
    justify-content: flex-end;
    float: right;
}

.stuck-to-top #menuToggle {
    display: flex;
    flex-direction: row;
}

nav {
    width: 100%;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 5px;
    right: 20px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 5; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

@media screen and (min-width: 601px;) {
    span {
        display: false;
    }
}

@media screen and (max-width: 600px) {
    .stuck-to-top a
    {
        text-decoration: none;
        color: black;
        transition: color 0.3s ease;
    }

    .stuck-to-top a:hover
    {
        color: grey;
        transition: color 0.3s ease;
    }

    .stuck-to-top .hamburger {
        display: flex;
        flex-direction: column;
    }
    .stuck-to-top #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        right: 0;

        background: black;
        border-radius: 3px;

        z-index: 1;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    .stuck-to-top #menuToggle input:checked ~  .hamburger span:first-child
    {
        opacity: 1;
        transform: rotate(45deg) translate(8px, 4.5px);
    }

    .stuck-to-top #menuToggle input:checked ~ .hamburger span:nth-child(2)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .stuck-to-top #menuToggle input:checked ~ .hamburger span:nth-child(3)
    {
        opacity: 1;
        transform: rotate(-45deg) translate(8px, -4.5px);
    }

    /*
     * Make this absolute positioned
     * at the top right of the screen
     */
    .stuck-to-top #menu
    {
        position: absolute;
        right: 0;
        top: 59px;
        width: 200px;
        padding-left: 25px;
      
        background: white;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
      
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .stuck-to-top #menu li
    {
        padding: 10px 0;
        font-size: 1rem;
        width: 100%;
    }

    .stuck-to-top #menuToggle input:checked ~ ul
    {
        transform: none;
        position: absolute;
    }

    .stuck-to-top #menuToggle input:checked ~ li
    {
        padding: 10px 0;
        font-size: 22px;
        color: black;
        right: 0;
        z-index: 10;
    }

    .header.stuck-to-top a {
        margin: 0;
        width: 100%;
    }
}

/* SECTION */
.section {
    min-height: 100vh;
}

/* TOP SECTION */
.top-section {
    height: 100vh;
}

.top-section .centered-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/

}

.top-section h1 {
    font-size: 5rem;
    padding: 2rem;
    font-weight: 100;
    color: #fefefe;
    bottom: 0;
    margin: 0;
}

canvas {
    width: 100%
}

/* PORTFOLIO */
.portfolio-section {
    padding: 6rem calc(2rem - 1%);
/*    height: auto;*/
    overflow: hidden;

}
.portfolio-section ul {
    list-style-type: none;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    margin: 0 auto;
    display: block;

}

.portfolio-piece {
/*    padding: 10rem;
    overflow: hidden;
    position: relative;
    flex-basis: 33%;
    min-width: 12rem;
    max-width: 33%;
    height: calc(740px / 3);*/
    width: calc(94% / 3);
    padding-bottom: calc(94% / 3);
    margin: 1%;
    float: left;
    position: relative;
    display: inline-block;
    /*flex-grow: 1;*/
}

@media screen and (max-width: 800px) {
    .portfolio-piece {
        width: 48%;
        padding-bottom: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 450px) {
    .portfolio-piece {
        width: 100%;
        padding-bottom: 100%;
    }
}

.portfolio-piece {
    /*position: relative;*/
/*    width: 100%;
    height: 100%;*/
    /*min-height: 100%;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.portfolio-piece:before {
    /*margin: 1rem;*/
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background-image: linear-gradient(to bottom right,#37749C, #3C89BB);
    transition: all ease-in-out 0.1s;
    mix-blend-mode: multiply;
}

.portfolio-piece:hover:before {
    opacity: 0.6;
}

.portfolio-piece:active:before {
    opacity: 0.8;
}

.portfolio-piece .portfolio-label {
    padding: 1rem;
    /*z-index: 1;*/
    position: absolute;
    color: white;
}

.portfolio-label h2 {
    font-size: 1.5rem;
    opacity: 0;
    font-family: 'Raleway', sans-serif;
}

.portfolio-label:hover h2 {
    opacity: 1;
}

.portfolio-label p {
    opacity: 0;
}

.plotly-election {
    background-image: url('../images/plotly-election.png'); 
}
/*.plotly-election:before {
    background-image: linear-gradient(to bottom right,#37749C, #3C89BB));
}*/

.plotly-energy {
    background-image: url('../images/plotly-energy.png');
}
/*.plotly-energy:before {
    background-image: linear-gradient(to bottom right,#37749C, #3C89BB));
}*/

.ggplot2-cancer {
    background-image: url('../images/ggplot2-cancer.png');
}
/*.ggplot2-cancer:before {
    background-image: linear-gradient(to bottom right,#37749C, #3C89BB));
}*/

.plotly-bikeshare {
    background-image: url('../images/plotly-bikeshare.png');
}
/*.plotly-bikeshare:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.ggplot2-bikeshare {
    background-image: url('../images/ggplot2-bikeshare.png');
}
/*.ggplot2-bikeshare:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.tableau-education-poverty {
    background-image: url('../images/tableau-education-poverty.png');
}
/*.tableau-education-poverty:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.trump-twitter-network-bokeh {
    background-image: url('../images/trump-twitter-network-bokeh.png');
}
/*.trump-twitter-network-bokeh:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.happiness-tableau {
    background-image: url('../images/happiness-tableau.png');
}
/*.happiness-tableau:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.tribe-network-networkd3 {
    background-image: url('../images/tribe-network-networkd3.png');
}
/*.tribe-network-networkd3:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.squirrel-wordcloud {
    background-image: url('../images/squirrel-wordcloud.png');
}
/*.squirrel-wordcloud:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/

.leaflet-cancer-refineries {
    background-image: url('../images/leaflet-cancer-refineries.png');
}
/*.leaflet-cancer-refineries:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}*/




/*.my-hero-text h5 {
    font-weight: 300;
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    position: absolute;
    top: 175px;
    width: 100%;
    text-align: center;
}*/

/* ABOUT ME SECTION */
.about-me {
    background: linear-gradient(to bottom right, #c0c0c0, #f2f2f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*padding: 2rem 2rem 0 2rem;*/
    font-size: 3vw;

}

.about-me, .contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem 2rem 0rem 2rem;
}

.about-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 2rem 6rem 2rem;
}

.about-text-1 {
    flex-grow: 1;
    margin-right: 2rem;
    max-height: 10rem;
    flex: 50%;
    vertical-align: middle;
}

.about-img-1 {
    flex-grow: 1;
    margin-left: 2rem;
    flex: 50%;
    vertical-align: middle;
}

.about-text-2 {
    flex-grow: 1;
    margin-left: 2rem;
    flex: 50%;
    vertical-align: middle;
}

.about-img-2 {
    flex-grow: 1;
    margin-right: 2rem;
    flex: 50%;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
        padding: 6rem 2rem 2rem 2rem;
    }

    .about-container-2 {
        flex-direction: column-reverse;
        padding: 0rem 2rem 6rem 2rem;
    }

    .about-text-1 {
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-right: 0%;
        margin-bottom: 1rem;
    }

    .about-text-1 p, .about-text-2 p {
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .about-img-1 {
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-left: 0%;
        margin-top: 1rem;
    }

    .about-text-2 {
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-left: 0%;
        margin-bottom: 1rem;
    }

   .about-img-2 {
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-right: 0%;
        margin-top: 1rem;
    }
}

@media (min-width: 940px) {
    .about-text-1 p, .about-text-2 p {
        font-size: 1.7rem;
    }
}

/* CONTACT SECTION */
.contact {
    padding: 2rem 2rem 0 2rem;
    font-size: 2rem;
    margin-bottom: -64px;
}

.social i {
    padding: 0 3rem;
    font-size: 5rem;
    line-height: 1;
}

@media screen and (max-width: 800px) {
    .social i {
        font-size: 3rem;
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .social i {
        font-size: 2rem;
        padding: 0 1.2rem;
    }
}

.social a {
    color: #c0c0c0;
}

.social a:hover {
    color: #505C68;
    transition: all ease-in-out 0.1s;
}


/* MENU */
.my-menu-text {
    color: #F8F8FF;
    font-family: 'Raleway', sans-serif;
}

.my-menu-text a {
    color: #F8F8FF;
}

.my-menu-text a:hover {
    color: #F8F8FF;
}

.my-home-text {
    font-weight: bold;
}

.top {
    position: absolute;
    top: 8px;
}

/* VIZ PAGES */
.viz-header {
    height: 50vh;
}

.viz-header .centered-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    justify-content: space-between;
}

.viz-nav a {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.viz-nav a:hover {
    color: #dbdbdb;
}

.viz-header h1 {
    font-size: 5rem;
    font-weight: 100;
    color: #fefefe;
    bottom: 0;
    margin: 0;
}

@media screen and (max-width: 450px) {
    .viz-header h1 {
        font-size: 3rem;
    }
}

.viz.centered-section {
    padding: 3rem 2rem;
}

.viz-thumbnail h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #505C68;
    text-align: center;
}

.viz-thumbnail p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #505C68;
    text-align: center;
    padding: 0% 5%;
}

.viz-thumbnail img {
    padding: 5% 5% 5% 5%;
}

/* FOOTER */
.footer-padding {
    padding: 0.55em 0;
}

.site-footer {
    position: relative;
    line-height: 4rem;
    color: white;
    width: 100%;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #37749C, #3C89BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #37749C, #3C89BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-footer .centered-section {
    padding: 0 2rem;
}

.spaced-fat {
    padding: 40px 0px;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    vertical-align: middle;
    margin-bottom: 0;
    float: left;
}

.shift-left-385 {
    position: relative;
    left: 385px;
}

.viz {
    width: 100%;
    padding: 2rem;
}

.viz h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #505C68;
    text-align: left;
}

.viz p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #505C68;
    text-align: left;
}

.viz li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #505C68;
    text-align: left;
}

.viz iframe {
    width: 100%;
}
/*
.portfolio-piece h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 600;
    text-transform: uppercase;
    color: #505C68;
}

.portfolio-piece p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #505C68;
    margin: 0 0 35px 0;
    max-width: 600px;
}

.portfolio-piece img {
    width: 150px;
    margin: 10px 0 35px 0;
}
*/

.bk-layout-fixed {
    margin: auto;
}

#primary-nav {
    color: #F8F8FF;
}

#primary-nav a:hover {
    color: #F8F8FF;
}
