.my-awesome-dropdown {
    background-color: pink;
}

.hero-section {
  background: url("../images/wind_turbine_on_blue_small.png") 50% no-repeat;
  background-size: cover;
  height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section-text h1 {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section-text h5 {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.my-hero-text h1 {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    position: absolute;
    top: 150px;
    font-weight: 300;
}

.my-hero-text h5 {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    position: absolute;
    top: 170px;
    font-weight: 300;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.menu-bg {
    background-color: transparent !important;
}

.menu-bg a {
    background-color: transparent !important;
}

.menu-bg a:hover {
    background-color: #1955b5 !important;
}

.my-menu-text {
    color: #F8F8FF;
    font-family: 'Raleway', sans-serif;
}

.my-menu-text a {
    color: #F8F8FF;
}

.my-menu-text a:hover {
    color: #F8F8FF;
}

.my-home-text {
    font-weight: bold;
}

.top {
    position: absolute;
    top: 8px;
}

.light-grey-bg {
    background-color: #EFEFEE;
}

.light-blue-bg {
    background-color: #B2D5FE;
}

.sky-blue-bg {
    background-color: #3C82CE;
}

.raleway-large {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #505C68;
    padding: 40px 0px;
}

.viz-thumbnail h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #505C68;
    text-align: center;
}

.viz-thumbnail p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #505C68;
    text-align: center;
    padding: 0% 5%;
}

.viz-thumbnail img {
    padding: 5% 5% 5% 5%;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    vertical-align: middle;
    margin-bottom: 0;
}

.footer-padding {
    padding: 0.55em 0;
}

.spaced-fat {
    padding: 40px 0px;
}

.social i {
    padding: 0px 10px 0px 10px;
    font-size: 30px;
    line-height: 1;
}

.social a {
    color: white
}

.social {
    text-align: right;
    color: white
}

.shift-left-385 {
    position: relative;
    left: 385px;
}

.viz {
    width: 100%;
}

.viz h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #505C68;
    text-align: center;
}

.viz p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #505C68;
    text-align: left;
}

.viz li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #505C68;
    text-align: left;
}

.viz iframe {
    width: 100%;
}

.portfolio-piece h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 600;
    text-transform: uppercase;
    color: #505C68;
}

.portfolio-piece p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #505C68;
    margin: 0 0 35px 0;
    max-width: 600px;
}

.portfolio-piece img {
    width: 150px;
    margin: 10px 0 35px 0;
}


#primary-nav {
    color: #F8F8FF;
}

#primary-nav a:hover {
    color: #F8F8FF;
}
